@model Event_App.ViewModels.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPerson.IdentityUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.IdentityUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest.InterestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest.InterestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.IsPrivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.IsPrivate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.IsVirtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.IsVirtual)
        </dd>
    </dl>
</div>
<div>
    @if (true) //User is loggged in
    {
        //show this code
    }

    <p>Make this only available to creator of the event</p>
    <a asp-action="Edit" asp-route-id="@Model.EventDetails.EventId">Edit</a> |
    <a asp-action="Delete" asp-route-id="Model.EventId">Delete</a>
    <a asp-action="Index">Back to List</a>
</div>
