@model Event_App.Models.EventDetialsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="contianer">
    <h4>Event</h4>
    <hr />

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card bg-light w-88 box" style="margin-right: 10px">
                    <div class="card-header">
                        @if (Model.deatilEvent.IsPrivate == true)
                        {
                            <p class="card-text">Private Event</p>
                        }
                        <p>@Html.DisplayFor(model => model.interest.InterestType)</p>
                        <h4 class="card-title">
                            @Html.DisplayFor(model => model.deatilEvent.EventName)

                        </h4>



                        @if (Model.deatilEvent.IsVirtual == false && Model.deatilEvent.IsPrivate == false)
                        {
                            <p class="card-text">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill eventIcon" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>

                                @Html.DisplayFor(modelItem => Model.address.Venue)

                            </p>
                        }

                        @if (Model.deatilEvent.EventUrl != null && Model.deatilEvent.IsPrivate == false) //if virtual public
                        {
                            <p class="card-text">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-globe2 eventIcon" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539a8.372 8.372 0 0 1-1.198-.49 7.01 7.01 0 0 1 2.276-1.52 6.7 6.7 0 0 0-.597.932 8.854 8.854 0 0 0-.48 1.079zM3.509 7.5H1.017A6.964 6.964 0 0 1 2.38 3.825c.47.258.995.482 1.565.667A13.4 13.4 0 0 0 3.508 7.5zm1.4-2.741c.808.187 1.681.301 2.591.332V7.5H4.51c.035-.987.176-1.914.399-2.741zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5H7.5v2.409c-.91.03-1.783.145-2.591.332a12.343 12.343 0 0 1-.4-2.741zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696A12.63 12.63 0 0 1 7.5 11.91v3.014c-.67-.204-1.335-.82-1.887-1.855a7.776 7.776 0 0 1-.395-.872zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964a9.083 9.083 0 0 0-1.565.667A6.963 6.963 0 0 1 1.018 8.5h2.49a13.36 13.36 0 0 0 .437 3.008zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909c.81.03 1.577.13 2.282.287-.12.312-.252.604-.395.872-.552 1.035-1.218 1.65-1.887 1.855V11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5h-2.49a13.361 13.361 0 0 0-.437-3.008 9.123 9.123 0 0 0 1.565-.667A6.963 6.963 0 0 1 14.982 7.5zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343c-.705.157-1.473.257-2.282.287V1.077c.67.204 1.335.82 1.887 1.855.143.268.276.56.395.872z" />
                                </svg>
                                <a href="@Model.deatilEvent.EventUrl">@Html.DisplayFor(modelItem => Model.deatilEvent.EventUrl)</a>
                            </p>
                        }
                        

                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => Model.deatilEvent.EventDescription)</p>
                    </div>
                    

                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.deatilEvent.EventId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="Model.deatilEvent.EventId">Delete</a>
                </div>
            </div>

            <div class="col-6">
                <div class="card badge-light w-88 box" style="margin-right: 10px">
                    <div class="card-header">

                        <h5 class="card-title">Host: @Html.DisplayFor(model => model.host.FullName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => Model.deatilEvent.EventDate)</p>


                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVirtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVirtual)
        </dd>
    </dl>*@
</div>
<div>

    

    @*<p>Make this only available to creator of the event</p>

        <a asp-action="Index">Back to List</a>*@
</div>
